body {
  font-family: 'Graphik Web';
  font-style: normal;
  font-stretch: normal;

  background: #ffffff;
  color: #1d2d35;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.top-bar {
  line-height: 1.5;
  text-align: center;
  background-color: #5d2f86;
  color: white;
  padding: 0.4%;
  font-size: 17px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  font-size: 24px;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  margin-top: 4%;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  padding-right: 20px;
}

.content {
  display: grid;
  grid-template-columns: 15% auto 15%;
  justify-content: center;
}

/* Site Text For Each Page */
.text {
  grid-column-start: 2;
  grid-column-end: 2;
  max-width: 950px;
}

/* Accessibility */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* Page CSS */
.page-title {
  margin-bottom: 10%;
}

/* Landing page css */
.page-title {
  font-size: 25px;
}

.page-content {
  font-size: 20px;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ffe000
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Buttons */

.button-primary {
  color: #1d2d35;
  background-color: #ffe000;
  border-color: #ffe000;
  font-size: 23px;
  padding: 1em;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #1d2d35;
  border-color: #1d2d35;
  color: #ffe000;
  transition: 0.3s;
}

.yellow-ul {
  text-decoration: underline;
  text-decoration-color: #ffe000;
}