<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PPKS87G');</script>
    <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website dedicated to helping agencies succeed"/>
    <meta charset="utf-8">
    <!-- More performance related articles here -->
    <!-- https://medium.com/clio-calliope/making-google-fonts-faster-aadf3c02a36d -->
    <link rel="preload" 
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" 
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"
    >
    <link 
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" 
        rel="stylesheet"
        type="text/css"
    >

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPKS87G" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a class="skip-link" href="index">Skip to Home</a>
    <div class="top-bar">
      Agency Ignition is the only <b>proven sales and partnerships program</b> designed specifically for <b>agencies.</b>
    </div>
    <header class="navigation">
      <div class="logo">
        <b>
          <a href="index">Agency Ignition</a>
        </b>
      </div>
      <div class="right-nav">
        <span class="menu-item">
          <b>
            <a href="index">Home</a>
          </b>
        </span>
        <span class="menu-item">
          <b>
            <a href="faq">FAQ</a>
          </b>
        </span>
      </div>
    </header>
    <div class="content">
      <div class="text">
        {{ content }}
      </div>
    </div>
    <footer class="footer">facebook text among other things goes here..</footer>
  </body>
</html>

<script>
  console.log(`
    Thanks for visiting the site, \n
    Erik G here. I am the founder of Agency Ignition. \n
    If you are poking around my site, it means you are probably interested in how this site was built. \n
    I'll save you the time. I hand coded this out of HTML/CSS/JS with no frameworks or libraries. \n
    \n
    Why? Because I care about performance for you. I don't want you to navigate through another shitty, chuggy website. \n
    I want the code clean and I want you to have a great experience.\n
    \n
    It's the same care I put into the product I am offering here. If you want to grow your business let's work together\n
    erik@devshopignition.com \n
  `)
</script>