<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website dedicated to helping agencies succeed"/>
    <meta charset="utf-8">
    <!-- More performance related articles here -->
    <!-- https://medium.com/clio-calliope/making-google-fonts-faster-aadf3c02a36d -->
    <link rel="preload" 
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" 
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"
    >
    <link 
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" 
        rel="stylesheet"
        type="text/css"
    >

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <a class="skip-link" href="index">Skip to Home</a>
    <header class="navigation">
      <div class="logo">
        <b>
          <a href="index">Agency Ignition</a>
        </b>
      </div>
      <div class="right-nav">
        <span class="menu-item">
          <b>
            <a href="index">Home</a>
          </b>
        </span>
        <span class="menu-item">
          <b>Get Started</b>
        </span>
        <span class="menu-item">
          <b>
            <a href="faq">FAQ</a>
          </b>
        </span>
      </div>
    </header>
    <div class="content">
      <div class="text">
        {{ content }}
      </div>
    </div>
    <footer class="footer">facebook text among other things goes here..</footer>
  </body>
</html>
